@import url(https://fonts.googleapis.com/css?family=Staatliches);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);

h1 {
  color: black; 
  font-family: 'Staatliches';
  text-align: center;
}
body {
  background-color: #F9F6EE;
}

h1#site-title {
  font-size: 70px;
  letter-spacing: 7px; 
  margin-top: 0; 
  margin-bottom: .125em; 
  text-align: center; 
}

h1#article-title {
  font-size: 35px;
  letter-spacing: 3px; 
}

p {
  color: #000000;
  font-family: 'Cormorant Garamond';
  text-align: right; 
  font-size: 25px; 
  width: 90%;
}

h2 {
  color: black; 
  font-family: 'Cormorant Garamond';
  text-align: right;
  width: 90%;
  font-size: 30px; 
}

img {
  width: 100%; 
  height: auto;  
}

figure {
  border: 10px solid #a0522d; 
  padding: 12px; 
  padding-bottom: 24px; 
  color: #000000; 
}

figure img {
  width: 100%; 
  height: auto;
}

figure.main-image {
  background: black; 
  border-color:	#A0522D;
  color: white; 
}

@media all and (min-width: 50px) {
figure.section-image {
  margin-left: 200px; 
  margin-bottom: 0px;
  max-width: 350px;  
  float: center;
  }
}

p img {
  max-width: 100%; 
  margin-left: 10px; 
  margin-bottom: 10px; 
}

nav ul {
 background-color: black; 
 list-style: none; 
 padding-left: 0; 
 border: 4px solid #C4B454; 
 text-align: center;
}

@media all and (min-width: 376px) {
  nav ul {
     display: flex; 
     justify-content: space-around; 
     gap: 30px; 
  }
}

nav ul li {
 }

nav ul li a {
  color: #F9F6EE;
  text-decoration: none; 
  padding: 8px; 
  border-bottom: 1px ; 
  display: block;   
}

nav ul li a:hover {
  background-color: #383b1c;
}

nav ul li:last-child a {
border-bottom: none; 
}
